@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui" {
  themes: all;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-base-200);
}
